/*-----------Global elemnts-------------*/
html,
body {
  background-color: #b0c4de;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  line-height: 1.6;
}
:root {
  --bg-color: #0f0f0f;
  --text-gray: #3f4954;
  --text-light: #686666da;
  --white: #ffffff;
  --midnight: #104f55;

  --sky: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
a {
  text-decoration: none;
}
h2 {
  margin: 0 auto;
  text-align: center;
}
hr {
  border-top: 5px dotted rgba(65, 64, 64, 0.445);
  width: 50%;
  margin-bottom: 0;
  padding-bottom: 10px;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

/*------x-----Global elemnts------x-------*/

.container {
  background-image: url("./Resources/img4.jpg");
  position: relative;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #0f0f0f;
  background-position: center;
  min-height: 100vh;
}

.quote {
  width: 100%;
  background-color: transparent;
  height: 150px;
  color: black;
  text-align: right;
  margin-top: 150px;
}
.quote figure {
  background-color: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  display: block;
  width: 35%;
  border-radius: 9px;
  padding-right: 20px;
  /* margin-top: 25%; */
}
div.firstimage {
  margin: 10px auto;
  border-radius: 15px;
  width: 70%;
}

.firstimage img {
  /* justify-content: center; */
  width: 100%;
  border-radius: 15px;
}
.navbar {
  overflow: hidden;
  background-color: transparent;
  padding: 0 10px 60px 10px;
  border-color: black;
  border-style: none;
  border-top: 0px;
  height: 12px;
  border-radius: 5px;
  position: relative;
}

.navbar a {
  float: left;
  color: rgba(252, 252, 252, 0.856);
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
  font-weight: 800;
  font-family: "Cairo", sans-serif;
  font-family: "Livvic", sans-serif;
}
.navbar h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  position: relative;
  font-size: xx-large;
  color: #13363a;
  border-radius: 20px;
  background: linear-gradient(to right, hsl(98 100% 62%), hsl(204 100% 59%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.navbar h1:hover {
  background-color: transparent;
  cursor: pointer;
}

/* LOGO style*/
.navbar a.logo {
  font-size: 30px;
  font-weight: 600;
  height: 25px;
}
/* hover feature*/
.navbar a:hover {
  color: #b0c4de;
}

.infobox {
  width: 60%;
  height: fit-content;
  padding-left: 10px;
}
.infobox h2 {
  font-weight: 900;
  font-size: 4rem;
}
.infobox img {
  width: 100%;
  padding-top: 20px;
}
.sidebar {
  width: 30%;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-top: 0;
  justify-content: space-between;
}
.Spart {
  padding-top: 500px;
}
.Spart h2 {
  font-weight: 900;
  font-size: 4rem;
}
.fpart h2 {
  font-weight: 900;
  font-size: 4rem;
}
.imgtitle {
  text-align: center;
  margin: 10px;
}
.imgtitle a:visited {
  color: #0f0f0f;
}
.imgtitle a:hover {
  color: rgba(0, 0, 255, 0.438);
  transition: all 0.4s ease-in-out;
}

.secondpart {
  display: flex;
  flex-flow: row;
  padding-bottom: 100px;
  padding-top: 100px;
  font-family: "Cairo", sans-serif;
  font-family: "Livvic", sans-serif;
  font-size: large;
  font-weight: 900;
  text-align: justify;
}
.secondpart h3 {
  text-decoration: underline;
}
.thrdpart {
  background-color: #79b4b7;
  font-family: "Cairo", sans-serif;
  font-family: "Livvic", sans-serif;
  font-size: large;
  font-weight: 900;
  text-align: justify;
}
.area {
  margin-left: 10px;
  padding-right: 10px;
}
.thrdpart h3 {
  text-align: center;
  font-size: larger;
}
.thrdpart img {
  /* margin-left: 10px; */
  width: fit-content;
}
.thrdpart h4 {
  font-size: larger;
  text-decoration: underline;
}
.sech {
  padding-bottom: 150px;
  font-weight: 900;
  font-size: 6rem;
}

/* ----------------- Footer --------------------- */

footer.footer {
  height: 100%;
  background: var(--bg-color);
  position: relative;
  margin: 0 auto;
}

footer.footer .newcontainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer.footer .newcontainer > div {
  flex-grow: 1;
  flex-basis: 0;
  padding: 48px 14.4px;
  color: antiquewhite;
}

footer.footer .newcontainer h2 {
  color: var(--white);
}

footer.footer .newsletter .form-element {
  background: black;
  display: inline-block;
}

footer.footer .newsletter .form-element input {
  padding: 8px 11.2px;
  border: none;
  background: transparent;
  color: white;
  font-size: 16px;
  width: 74%;
}

footer.footer .newsletter .form-element span {
  background: var(--sky);
  padding: 8px 11.2px;
  cursor: pointer;
}
footer.footer .follow div i {
  color: var(--white);
  padding: 0 6.4px;
}

footer.footer .tm {
  justify-content: center;
}

footer.footer .tm h4 {
  color: var(--white);
  color: antiquewhite;
  margin: 0;
}

footer.footer .move-up {
  position: absolute;
  right: 16%;
  top: 40%;
}

footer.footer .move-up span {
  color: var(--midnight);
}

footer.footer .move-up span:hover {
  color: var(--white);
  cursor: pointer;
}

/* ---------x------- Footer ----------x---------- */

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    text-align: center;
  }
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .container {
    background-image: url("./Resources/img4.jpg");
    position: relative;
    /* height: 500px; */
    max-width: 100%;
    min-height: 130vh;
  }
  img {
    max-width: 100%;
    padding-right: 20px;
  }
  .sidebar {
    height: 820px;
  }
}
@media only screen and (max-width: 750px) {
  .navbar a {
    float: none;
    display: block;
    text-align: center;
  }
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .container {
    background-image: url("./Resources/img4.jpg");
    position: relative;
    /* height: 500px;*/
    max-width: 100%;
    min-height: 100vh;
    /* background-size: 500px 500px; */
  }
  img {
    max-width: 100%;
    padding-right: 20px;
  }
  .sidebar {
    height: 820px;
  }
  footer.footer .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 1150px) {
  .navbar a {
    float: none;
    display: block;
    text-align: center;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    height: max-content;
  }
  .container {
    /* background-image: url("./Resources/img4.jpg"); */
    position: relative;
    height: 500px;
    max-width: 100%;
  }
  img {
    max-width: 100%;
    padding-right: 20px;
  }
  .sidebar {
    height: 820px;
  }
  footer.footer .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
